* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #fff;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/back.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 6px;          
  }
  body::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);      
  }
  body::-webkit-scrollbar-thumb {
	background-color:  rgba(60, 24, 219, 0.81);;    
	border-radius: 20px;       
  }
.card1{
    width: 100vw;
	top: 130px;
    height: 600px;
    display: block;
    position: absolute;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 67px;
    box-shadow: 0 0 2px 2px #83828267;
}
h1{
    width: max-content;
    left: 20%;
    top: 200px;
    position: absolute;
    font-family: var(--color-header);
    font-weight: var(--index);
    font-size: 2px;
    line-height: 118px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff !important;
}
.main-header ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    top: 180px;
    right: 50px;
    
}
.main-header ul>li{
    margin: 15px;
    font-size: 24px;
    font-weight: var(--index); 
}
.main-header a{
    color: var(--color-header);
    text-decoration: none;  
}
.main-header a:hover{
    color: rgba(114, 25, 221, 0.81);
    transition: 0.6s all ease;
}
.main-header h2{
	top: 200px;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
	
}
.main-title {
	font-size: calc(var(--index) * 6);
	position: absolute;
	width: min-content;
	top: 370px;
	width: max-content;
	line-height: .9;
	
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 9) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.text-block.gallery__item{
	background: #ffffff65;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
	width: 600px;
	height: 500px;
	text-align: center;
	justify-content: center;
    border-radius: 67px;
    box-shadow: 0 0 5px 5px #83828267;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: calc(var(--gallery-gap) * 1.4);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	right: 100px;
	line-height: 1.75;
	font-size: calc(var(--index) * 1.1);
}

.footer{
	margin-top: auto;
	background: #ffffff65;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
	height: 100px;
	text-align: center;
	justify-content: center;
    border-radius:20px 20px;
    box-shadow: 0 0 5px 5px #83828267;
	margin-bottom: -30px;
}
.footer ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.footer ul>li{
    margin: 15px;
    font-size: 24px;
    font-weight: var(--index); 
}
.footer a{
    color: var(--color-header);
    text-decoration: none;  
}
.footer a:hover{
    color: rgba(114, 25, 221, 0.81);
    transition: 0.6s all ease;
}
.footer .gallery2{
	position: relative;
	right: 600px;
	max-width: 90px;
	max-height: 90px;
}
